html, body {
	height: 100%;
	background-color: black;
	background-image: url(images/header.jpg);
	background-attachment: fixed;
	background-position: 100% 1%;
	background-repeat: no-repeat;
    background-origin: content-box;
}
body {
	position: relative;
	padding-top: 70px;
	box-sizing: border-box;
}
a {
	cursor: pointer;
	border: none;
}
blockquote {
	margin-top:.5em;
	padding-top:2px;
}
blockquote footer {
	color: white;
	margin-top: 1em;
	font-family: "Arial", Helvetica, sans-serif
}
.content {
	height: 100%;
	color: white;
	overflow-x: hidden;
}

.layer {
	display: none;
}
.box {
    box-shadow: 5px 10px 20px rgba(0, 0, 0, .9);
	overflow: auto;
	padding: 0;
}
.navbar {
	margin: 0;
	padding: 5px;
	border: 0;
	background: rgba(0,0,0,0.4);
	color: white;
	border-bottom: 1pt solid white;
}
.scrollup {
    width: 40px;
    height: 50px;
    position: fixed;
    bottom: 50px;
    right: 0px;
    display: none;
    z-index: 500;
    padding:0;
	border: 0;
    text-align: center;
    background-color: #222;
	color: white;
}
#header {
	text-align: center;
}
#header #photo {
	float: none;
	margin: auto;
	display: block;
	width: 200px;
	height: 200px;
	border-radius:50%;
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
#header h3 {
	margin: 0;
}
#header p {
	margin:0px;
	font-size:70pt;
	line-height: 1.2;
}
.contact {
	padding: 1.5em 0;
	border-bottom: 1px solid white;
}
.contact a {
	padding: 0 .5em;
	color: white /*#9d9d9d*/;
}
.contact .fa-stack:hover {
    box-shadow: 5px 10px 20px rgba(0, 0, 0, .9);
} 
#quote {
	width: 45%;
	padding-top: 0;
}
#quote p {
	font-style: italic;
}
#pills {
	width: 70%;
	margin: auto;
}
#pills a {
	font-weight	: bold;
	color: white /*#9d9d9d*/;
	padding: 15px 0;
	border: none;
}
#pills i {
	color: white;
	vertical-align: center;
	padding: 0 .25em;
}

#pills a:hover{
	color: black /*#9d9d9d*/;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, .9);
}
.tag {
	float: left;
	width: 40%;
	padding: 10px;
	margin: 0 5%;
}
.tag img {
	width: 100%;
}
a .tag {
	font-weight	: bold;
	color: white /*#9d9d9d*/;
}
a .tag:hover {
	text-decoration: none;
}
.tag:hover {
	background-color: rgba(0,0,0,0.6);
}
#resume {
	height: 100%;
}
.embed-container {
	position: absolute;
    top: 11.5em;
    bottom: .5em;
    left: 1em;
    right: 1em;
}

.embed-container object {
   width: 100%;
   height: 100%;
}
.jumbotron {
	background-color: rgba(35,35,35,0.5);
	margin: 1em;
	padding: 1em;
}
.jumbotron h2, h3, h4 {
	margin: 0;
	padding: 0;
}
.jumbotron p {
	padding: 0;
	font-size: 14pt;
	font-style: normal;
}
.jumbotron a {
	color: darkgray;
	font-weight:bold;
}
.title {
	border-bottom: 1px solid white;
}
.indent {
	margin-left: 3em;
}
.break {
	clear: both;
	margin: 10px;
}
@media only screen and (max-width: 760px) {
    .navbar-toggle {
		float: none;
        display: block;
		margin: auto;
    }
	.navbar-header {
		float: none;
        display: block;
	}
    .navbar {
        border: none;
		float: none;
		border-bottom: 1px solid white;
		background-color:rgba(0,0,0,0.8)
    }
	#quote {
		width: 75%;
		padding-right: 0;
	}
	#header p{
		font-size: 50pt;
	}
}
@media only screen and (max-width: 500px) {
	.content {
		width: 100%;
		margin: auto;
	}
	.jumbotron p {
		font-size: 11pt;
	}
	.indent {
		margin-left: 1em;
	}
	#header #photo {
		width: 150px;
		height: 150px;
	}
	#header h2{
		font-size: 16pt;
	}
	#header h3{
		font-size: 14pt;
	}
	#header blockquote footer{
		font-size: 10pt;
	}
	.tag {
		float: none;
		width: 80%;
		padding: 10px;
		margin: 0 10%;
		margin-bottom: 10px;
	}
}
